<!--<h1> {{pregunta.pregunta_text}}</h1>
    <ul>
        {% for respuesta in pregunta.respuesta_set.all  %}
            <li>{{respuesta.respuest_text}}</li>
        {% endfor %}
    </ul> 
--> 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pollsApp/style.css' %}">
    <link rel="stylesheet" href="{% static 'pollsApp/detalle.css' %}">
    <title>{{Pregunta.pregunta_text}}</title>
</head>
<body>
    <form action="{% url 'polls:voto' pregunta.id %}"  method="post">

        {% csrf_token %}
        <fieldset>
            <legend> <h1>{{pregunta.pregunta_text}}</h1></legend>
            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
            {% endif %}
            {% for respuesta in pregunta.respuesta_set.all  %}
                <input
                    type="radio"
                    name="respuesta_form"
                    id="respuesta{{ forloop.counter}}"
                    value="{{respuesta.id}}"
                >
                <label for="respuesta{{forloop.counter}}">
                    {{respuesta.respuesta_text}}
                </label>
                <br>
            {% endfor %}
        </fieldset>
        
        <input type="submit" value="Votar">
    </form> 
</body>
</html>



